
header {
    height: 200px;
    background: url("https://images.unsplash.com/photo-1445251045505-59e1ff1e3127?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=054e1fb03f5df8809d5acc7988fba4e7&auto=format&fit=crop&w=2031&q=80");
    background-size: cover;
    background-position-y: -100px;
    border-bottom: 1px solid #f2663a;

}

header div {
    display: flex;
    justify-content: center;
}

header img {
    height: 75px;
    width: 75px;
}
h1, h2, h3 {
    text-align: center;
    font-family: "Arvo", Serif;
}



nav {
    padding-top: 35px;
}

nav div {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    text-align: center;

}
figure img {
    height: 50px;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.generic {

    margin-top: 40px;
}

section img {
    display: block;
    margin: 0 auto;
}

.destination {
    display: flex;
}

.destination img {
    min-height: 200px;
    max-width: 300px;
}

.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-5 {
    flex: 5;
}

.destination figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #17A96D;
    border-left: 1px solid #17A96D;
    border-right: 1px solid #17A96D;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
}



figcaption h4 {
    margin-top: 0; /*no space under location title*/
    margin-bottom: 0;
    font-family: "Arvo", Serif ;
    padding-top: 10px;
}

body {
    font-family: "Lato", Sans-Serif;
    font-size: 16px;
    color: #14171a;
    background: #D4D1CD;
    margin: 0;
}

div.destination {
    background: white;
    border-radius: 1px;
    margin-bottom: 1px;
}

.destination p {
    padding-right: 40px;
}

a {
    color: #1C6D4D;
    text-decoration: none;
}

footer {
    height: 100px;
    width: 100%;
    background: #14171a;
}

footer p {
    color: #D4D1CD;
    padding-left: 35px;
    padding-top: 35px;
}

#bio {
    //width: 33%;
    margin: 0 auto;
    padding: 12%;
}

.accent:before {
    //border-bottom: 2px solid #f2663a;
    content: "* ";
    color: #f2663a;
}

section:last-of-type {
    margin-bottom: 150px;
}

@media only screen and (max-width: 675px) {
    .destination p {
        display: none;
    }
}